@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: #1b203d;
    font-family: system-ui;
}

.action_btn {
    background-color: #8cbcba;
    color: #214f74;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.action_btn:hover {
    background-color: orange;
    color: #fff;
}

.title {
    color: white;
    text-align: center;
    font-size: 45px;
}

.title span {
    color: orange;
}

label {
    color: white;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add_prod input[type=submit] {
    width: 100%;
    background-color: #a3c8c5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: orange;
}

div.container {
    border-radius: 5px;
    background-color: #272c4a;
    padding: 20px;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
